spring:
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      application-id: my-kafka-streams-app
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    logging:
      level:
        org.apache.kafka: DEBUG



